:root {
    --primary-color: #388d5d;
    --secondary-color: #d6a34a;
    --tertiary-color: #5a431b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3d1b8;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 25px 30px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background-color: var(--primary-color);
    padding: 25px 30px;
    font-size: 36px;
    color: var(--secondary-color);
    margin: -25px -25px -25px -30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0 15px 15px 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}

section {
    padding: 50px;
}

/* add hero styles here */

section h2 {
    font-size: 50px;
    color: var(--primary-color);
    padding-right: 20px;
    margin: 0 35px 0 auto;
    float: left;
}

.bio p {
    font-size: 25px;
    line-height: 1.5;
    color: var(--primary-color);
    margin: 0 auto;
    text-align: end;
}

/* work style elements */

.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.project img {
    border: 4px solid;
    border-color: var(--primary-color);
    width: 25%;
}

.contact-info {
    color: var(--primary-color);
    padding: 25px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-info div {
    font-size: 1.5vw;
    border-bottom: 3px solid;
}

.contact-info a {
    color: var(--primary-color);
}